{% extends 'base.html' %}

{% block title %} Trainer {% endblock title %} 

{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-bold title-font mb-4 text-gray-900">OUR TRAINER</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Great Trainer come from greater background and hardwork , Join us to train the team .</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="media/arnold.jpg">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900"> Arnold Schwarzenegger</h2>
              <h3 class="text-gray-500 mb-3">Head of Trainer</h3>
              <p class="mb-4">Worked in  many hollywood  movies . He is gretest WWE fighter.</p>
              
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="media/rock.jpg">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Dwayne ‘The Rock’ Johnson</h2>
              <h3 class="text-gray-500 mb-3">Assistent Trainer</h3>
              <p class="mb-4">Worked in Terminator movies. He is gretest Bodybuilder</p>
              
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="media/batista.jpg">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Dave Bautista</h2>
              <h3 class="text-gray-500 mb-3">Junior Trainer</h3>
              <p class="mb-4">One of the greatest WWE fighter , Worked in many Hollywood movies.</p>
             
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="media/ronnie.jpg">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Ronnie Coleman</h2>
              <h3 class="text-gray-500 mb-3">Senior Trainer</h3>
              <p class="mb-4">Greatest Bodybuilder of all time.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
  <form method="post" action="/trainer">
    {% csrf_token %}
  <section class="text-gray-600 body-font relative" >
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-bold title-font mb-4 text-gray-900">Register to train the team</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">To contact us ,please fill your details.</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
              <input type="text" id="name" name="name"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm text-gray-600 " >Email-id</label>
              <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>

          <div class="p-2 w-1/2">
            <div class="relative">
              <label class="leading-7 text-sm text-gray-600">phone number</label>
              <input type="text" id="phone" name="phone"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>

          <div class="p-2 w-1/2">
            <div class="relative">
              <label  class="leading-7 text-sm text-gray-600">Expert</label>
              <input type="text" id="expert" name="expert"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>

          

          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
              <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Submit</button>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</form>


{% endblock body %}

